<div class="spinner" [style.display]="loading ? 'block' : 'none'">
    <div class="wrapper">
      <div class="logo"> <img src="assets/images/MAYAV2.svg" alt="" ></div><br>
      <div style="text-align: center;">
        <h3 style="color:#9F2241">En proceso  &nbsp;<i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></h3>
        <h5>Verifica la velocidad de tu conexión a internet</h5> 
      </div>
  </div>
  </div>
  <div class="spinnercontainer" [style.display]="loading ? 'block' : 'none'"></div>
