@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "leaflet/dist/leaflet.css";

html, body, app-root, app-mapa, #relative, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

.icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}