<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
<meta http-equiv="refresh" content="0;url=http://172.25.30.94:8080/business-central/kie-wb.jsp?standalone=false&perspective=Tasks">
  <title>Redireccionando...</title>
</head>
<body>
  <h2>Proceso iniciado correctamente</h2>
  <p>Gracias <strong>{{ nombre }}</strong>.</p>
  <p>Tu solicitud para un proyecto <strong>{{ tipo }}</strong> ha sido registrada.</p>
  <p>Redireccionando a la bandeja de tareas en unos segundos...</p>
  <p>Si no eres redirigido automáticamente, haz clic 
     <a href="http://172.25.30.94:8080/business-central/kie-wb.jsp?standalone=false&perspective=Tasks">aquí</a>.
  </p>
</body>
</html>
